@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-primary-dark: #0a0a0a;
    --color-primary-dark-secondary: #1a1a1a;
    --color-primary-blue: #155dfc;
    --color-primary-blue-transparent: rgba(43, 127, 255, 0.1);
    --color-primary-white: #f2f2f2;
    --color-primary-white-secondary: rgba(95%, 95%, 95%, 0.5);
    --color-primary-error: tomato;

    --animate-shimmer: shimmer 3.5s infinite 5s;
    --animate-text-loader: text-loader 20s infinite 1s;
    --navbar-height: 50px;
    --tonum: 0;

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            transform: translateX(100%);
            opacity: 1;
        }
        50% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes text-loader {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(-102%);
        }
        10% {
            transform: translateY(-100%);
        }

        15% {
            transform: translateY(-202%);
        }
        20% {
            transform: translateY(-200%);
        }

        25% {
            transform: translateY(-302%);
        }
        30% {
            transform: translateY(-300%);
        }

        35% {
            transform: translateY(-402%);
        }
        40% {
            transform: translateY(-400%);
        }

        45% {
            transform: translateY(-502%);
        }
        50% {
            transform: translateY(-500%);
        }

        55% {
            transform: translateY(-602%);
        }
        60% {
            transform: translateY(-600%);
        }

        65% {
            transform: translateY(-702%);
        }
        70% {
            transform: translateY(-700%);
        }

        75% {
            transform: translateY(-802%);
        }
        80% {
            transform: translateY(-800%);
        }

        85% {
            transform: translateY(-902%);
        }
        90% {
            transform: translateY(-900%);
        }

        95% {
            transform: translateY(-1002%);
        }
        100% {
            transform: translateY(-1000%);
        }
    }
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    overscroll-behavior: contain;
    height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    height: 100%;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-primary-dark);
    }
}

[data-radix-popper-content-wrapper] {
    max-width: 1064px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    position: absolute !important;

    border: none;
}

i.star-icon {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    font-style: normal;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml,%3Csvg%20height%3D%2245%22%20viewBox%3D%220%200%2046%2045%22%20width%3D%2246%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%2225%25%22%20x2%3D%2274.92%25%22%20y1%3D%22.825%25%22%20y2%3D%22107.86%25%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23ffd951%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ffb222%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22b%22%20x1%3D%2250%25%22%20x2%3D%2250%25%22%20y1%3D%220%25%22%20y2%3D%2299.795%25%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23e58f0d%22%2F%3E%3Cstop%20offset%3D%22.99963%22%20stop-color%3D%22%23eb7915%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20id%3D%22c%22%20d%3D%22m15.45%2013.17%205.29-10.61c.61-1.22%202.09-1.71%203.3-1.09.47.24.86.63%201.09%201.11l5%2010.23c.41.83%201.21%201.4%202.12%201.51l10.47%201.27c1.42.17%202.43%201.47%202.26%202.91-.07.59-.34%201.14-.76%201.56l-8.27%208.2c-.33.33-.49.8-.44%201.27l1.38%2011.08c.2%201.59-.92%203.04-2.49%203.23-.59.08-1.19-.04-1.72-.32l-8.74-4.81c-.63-.35-1.39-.36-2.03-.03l-9.06%204.68c-1.27.66-2.83.14-3.48-1.14-.25-.49-.34-1.03-.26-1.57l.72-5.08c.36-2.49%201.89-4.64%204.1-5.78l10.06-5.17c.27-.14.37-.47.24-.74-.11-.21-.34-.33-.57-.29l-12.3%201.77c-1.88.27-3.78-.27-5.26-1.48l-4.09-3.36c-1.17-.96-1.35-2.7-.4-3.88.44-.55%201.08-.9%201.77-.99l10.5-1.36c.68-.09%201.26-.51%201.57-1.12z%22%2F%3E%3Cfilter%20id%3D%22d%22%20height%3D%22111.7%25%22%20width%3D%22111.4%25%22%20x%3D%22-5.7%25%22%20y%3D%22-5.9%25%22%3E%3CfeOffset%20dx%3D%222%22%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetInner1%22%2F%3E%3CfeComposite%20in%3D%22shadowOffsetInner1%22%20in2%3D%22SourceAlpha%22%20k2%3D%22-1%22%20k3%3D%221%22%20operator%3D%22arithmetic%22%20result%3D%22shadowInnerInner1%22%2F%3E%3CfeColorMatrix%20in%3D%22shadowInnerInner1%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%201%20%20%200%200%200%200%201%20%20%200%200%200%200%201%20%200%200%200%200.65667938%200%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22url%28%23a%29%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23c%22%2F%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23d%29%22%20xlink%3Ahref%3D%22%23c%22%2F%3E%3Cuse%20stroke%3D%22url%28%23b%29%22%20stroke-width%3D%222%22%20xlink%3Ahref%3D%22%23c%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: contain;
    letter-spacing: 10em;
    text-indent: -10em;
    width: 24px;
    height: 24px;
}