@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-primary-dark: #0a0a0a;
    --color-primary-dark-secondary: #1a1a1a;
    --color-primary-blue: #155dfc;
    --color-primary-blue-transparent: rgba(43, 127, 255, 0.1);
    --color-primary-white: #f2f2f2;
    --color-primary-white-secondary: rgba(95%, 95%, 95%, 0.5);
    --color-primary-error: tomato;

    --animate-shimmer: shimmer 3.5s infinite 5s;
    --animate-text-loader-fade: text-loader-fade 2s reverse ease-in-out infinite;
    
    --navbar-height: 50px;

    --padding-t-main: 10px;

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            transform: translateX(100%);
            opacity: 1;
        }
        50% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes text-loader-fade {
        0% {
            opacity: 0;
            transform: translate3d(0, 4px, 0);
        }
        20% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        80% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0;
            transform: translate3d(0, -4px, 0);
        }
    }
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    overscroll-behavior: contain;
    height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    height: 100%;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-primary-dark);
    }
}

[data-radix-popper-content-wrapper] {
    max-width: 1064px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    position: absolute !important;

    border: none;
}
