@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-primary-dark: #0a0a0a;
    --color-primary-dark-secondary: #1a1a1a;
    --color-primary-blue: #155dfc;
    --color-primary-blue-transparent: rgba(43, 127, 255, 0.1);
    --color-primary-white: #f2f2f2;
    --color-primary-white-secondary: rgba(95%, 95%, 95%, 0.5);
    --color-primary-error: tomato;

    --animate-shimmer: shimmer 3.5s infinite 5s;
    --animate-text-loader: text-loader 20s infinite 1s;

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            transform: translateX(100%);
            opacity: 1;
        }
        50% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes text-loader {
        0% {
            transform: translateY(0);
        }
        5% {
            transform: translateY(-102%);
        }
        10% {
            transform: translateY(-100%);
        }

        15% {
            transform: translateY(-202%);
        }
        20% {
            transform: translateY(-200%);
        }

        25% {
            transform: translateY(-302%);
        }
        30% {
            transform: translateY(-300%);
        }

        35% {
            transform: translateY(-402%);
        }
        40% {
            transform: translateY(-400%);
        }

        45% {
            transform: translateY(-502%);
        }
        50% {
            transform: translateY(-500%);
        }

        55% {
            transform: translateY(-602%);
        }
        60% {
            transform: translateY(-600%);
        }

        65% {
            transform: translateY(-702%);
        }
        70% {
            transform: translateY(-700%);
        }

        75% {
            transform: translateY(-802%);
        }
        80% {
            transform: translateY(-800%);
        }

        85% {
            transform: translateY(-902%);
        }
        90% {
            transform: translateY(-900%);
        }

        95% {
            transform: translateY(-1002%);
        }
        100% {
            transform: translateY(-1000%);
        }
    }
}

body {
    font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-primary-dark);
    }
}

[data-radix-popper-content-wrapper] {
    max-width: 1024px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    position: absolute !important;

    border: none;
}